:root {
	--bitcoin-orange: #f7931a;
	--soft-orange: #ffe9d5;
	--secondary-blue: #1a9af7;
	--soft-blue: #e7f5ff;
	--warm-black: #282623;
	--black: #201e1c;
	--grey: #bababa;
	--off-white: #faf8f7;
	--just-white: #fff;
	/* font-family: 'Inter', sans-serif; */
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
	font-family: 'DM Sans', sans-serif;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
* {
	margin: 0;
	padding: 0;
}

/* Header */
.header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-width: 320px;
	height: 334px;
	text-align: center;
	background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
.header img {
	width: 150px;
	height: 24px;
	margin-top: 50px;
	/* align-self: center; */
}
.header__title-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	height: 218px;
	margin-top: 50px;
	/* align-self: center; */
}
.header__title-container h1 {
	font-size: 2.4rem;
	font-weight: medium;
	line-height: 2.6rem;
	color: var(--just-white);
}
.header__title-container p {
	margin-top: 25px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.8rem;
	color: var(--soft-orange);
}
.header__button {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: -24px;
	width: 229px;
	height: 48px;
	border-radius: 4px;
	box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
	background-color: var(--off-white);
	font-size: 1.4rem;
	font-weight: bold;
	color: var(--black);
	text-decoration: none;
}
.header__button span {
	width: 13px;
	height: 8px;
	margin-left: 10px;
	background-image: url('./assets/icons/down-arrow.svg');
}
/* Main */
.main {
	display: inline-block;
	width: 100%;
	min-width: 320px;
	height: auto;
}

/* Exchange Section*/
.exchange {
	display: inline-block;
	width: 100%;
	min-width: 320px;
	height: auto;
	background-color: var(--off-white);
}
.exchange__image-container {
	display: flex;
	width: 100%;
}
.exchange__image-container img {
	width: 195px;
	height: 195px;
	margin: 70px auto 0;
}
.exchange__text-container {
	width: 90%;
	min-width: 288px;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.exchange__text-container h2 {
	margin-top: 30px;
	font-size: 2.4rem;
	font-weight: bold;
	line-height: 2.6rem;
	color: var(--black);
}
.exchange__text-container p {
	margin-top: 30px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.6rem;
	color: #757575;
}
/* Scroll */
.exchange__scroll-container {
	display: flex;
	overflow: hidden;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
/* Exchange Table Block */
.exchange__table-block-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	min-width: 320px;
}
/* Exchange Table Block h3 */
.exchange__table-block-container h3 {
	font-size: 1.8rem;
}
.exchange .currency h3 {
	color: var(--bitcoin-orange);
}
.exchange .commissions h3 {
	color: var(--secondary-blue);
}
/* Table */
.table td {
	min-width: 100px;
	height: 40px;
	padding: 10px 12px;
	background-color: var(--just-white);
	font-family: 'Inter', sans-serif;
	font-size: 1.6rem;
	color: #b5b0ac;
}
.table tr:nth-child(1) td:nth-child(1) {
	border-top-left-radius: 8px;
}
.table tr:first-child td:last-child {
	border-top-right-radius: 8px;
}
.table tr:nth-child(4) td:nth-child(1) {
	border-bottom-left-radius: 8px;
}
.table tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}
.table tr td:last-child {
	font-weight: 400;
	color: #757575;
}
/* Currency table */
.currency tr td span {
	display: inline-block;
	width: 11px;
	height: 6px;
	justify-content: space-between;
	vertical-align: middle;
}
.currency tr td:nth-child(2) {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.currency tr:nth-child(1) td span,
.currency tr:nth-child(3) td span,
.currency tr:nth-child(4) td span {
	background-image: url('/assets/icons/trending-down.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.currency tr:nth-child(2) td span {
	background-image: url('/assets/icons/trending-up.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/* Commissions table */
.commissions tr td:nth-child(2) {
	text-align: center;
}

/* Date */
.exchange__currency-date,
.exchange__commissions-date {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 173px;
	height: 31px;
	border-radius: 8px;
}
.exchange__currency-date p,
.exchange__commissions-date p {
	font-size: 1.2rem;
}
.exchange__currency-date p span,
.exchange__commissions-date p span {
	font-weight: 700;
}
.exchange__currency-date {
	background-color: var(--soft-orange);
}
.exchange__commissions-date {
	background-color: var(--soft-blue);
}
/* Beneficts */
.beneficts {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	padding-bottom: 50px;
	background-color: var(--black);
}
.floating-batata {
position: absolute;
top: -13px;
}
.beneficts__text {
	margin-top: 60px;
	margin-bottom: 25px;
	text-align: center;
}
.beneficts__text h2 {
	font-size: 2.4rem;
	font-weight: 700;
	color: var(--just-white);
}
.beneficts__text p {
	margin-top: 16px;
	font-size: 1.4rem;
	font-weight: 500;
	color: #808080;
}
/* Beneficts - Cards Container */
.cards-container {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.card {
	height: 152px;
	padding: 10px;
	border-radius: 4px;
	background-color: var(--warm-black);
}
/* Beneficts - Card Icon */
.beneficts .card:first-child .icon:nth-child(1) {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url('./assets/icons/clock.svg');
	background-size: cover;
}
.beneficts .card:nth-child(2) .icon:nth-child(1) {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url('./assets/icons/eye.svg');
	background-size: cover;
}
.beneficts .card:nth-child(3) .icon:nth-child(1) {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url('./assets/icons/dollar-sign.svg');
	background-size: cover;
}
.beneficts .card:last-child .icon:nth-child(1) {
	display: inline-block;
	width: 22px;
	height: 22px;
	background-image: url('./assets/icons/check-circle.svg');
	background-size: cover;
}
.card h3 {
	padding-top: 6px;
	font-size: 1.8rem;
	font-weight: 700;
	color: var(--just-white);
}
.card p {
	padding-top: 10px;
	font-size: 1.4rem;
	font-weight: 500;
	color: #808080;
}
.bitcoin {
	width: 100%;
	min-width: 320px;
	height: 50vh;
	background-image: url('./assets/img/bitcoinbaby2x.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}
.bitcoin h2 {
	padding-top: 60px;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 2.6rem;
	color: var(--just-white);
}